<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Lista użytkowników</title>
</head>
<body>

<section>
    <div th:replace="add-user-modal :: add-user-modal"></div>
    <div th:replace="edit-user-modal :: edit-user-modal"></div>

    <div class="container p-5">
        <div class="row">
            <div class="">
                <div class="card">
                    <div class="card-body">
                        <div class="container">
                            <h2>Lista Użytkowników</h2>

                            <div th:if="${message}" class="alert alert-success" role="alert">
                                <span th:text="${message}"></span>
                            </div>

                            <!-- MODAL -->
                            <div id="successMessage" th:if="${param.updated}">
                                <div class="alert alert-success" role="alert">
                                    Użytkownik został zaktualizowany pomyślnie!
                                </div>
                            </div>

                            <div th:if="${users.isEmpty()}" class="alert alert-warning" role="alert">
                                Brak użytkowników do wyświetlenia.
                            </div>

                            <div class="mb-3">
                                <a class="btn btn-primary" href="/users/add">Dodaj Nowego Użytkownika</a>
                            </div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addUserModal">
                                Dodaj Użytkownika - Modal
                            </button>
                            <table class="table" th:unless="${users.isEmpty()}">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Imię</th>
                                    <th>Nazwisko</th>
                                    <th>Email</th>
                                    <th>Numer Telefonu</th>
                                    <th>Rola</th>
                                    <th>Akcje</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users}" th:if="${user.email != loggedInUser}">
                                    <td th:text="${user.id}"></td>
                                    <td th:text="${user.firstName}"></td>
                                    <td th:text="${user.lastName}"></td>
                                    <td th:text="${user.email}"></td>
                                    <td th:text="${user.phoneNumber}"></td>
                                    <td th:text="${user.role}"></td>
                                    <td>
                                        <a th:href="@{/users/edit/{id}(id=${user.id})}" class="btn btn-primary">Edytuj</a>
                                        <a href="#" class="btn btn-primary editBtn" th:data-id="${user.id}">Edytuj - Modal</a>
                                        <a th:href="@{/users/delete/{id}(id=${user.id}, page=${currentPage}, size=${size})}" class="btn btn-primary" onclick="return confirm('Jesteś pewien, że chcesz usunąć tego użytkownika?')">Usuń</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                                        <a class="page-link" th:href="@{/users(page=${currentPage - 1}, size=${size})}" tabindex="-1">Poprzednia</a>
                                    </li>
                                    <li class="page-item disabled">
                                        <span class="page-link">Strona [[${currentPage + 1}]] z [[${totalPages}]]</span>
                                    </li>
                                    <li class="page-item" th:classappend="${currentPage >= totalPages - 1} ? 'disabled'">
                                        <a class="page-link" th:href="@{/users(page=${currentPage + 1}, size=${size})}">Następna</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
</html>