<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Dodaj nowy produkt</title>
</head>
<body>
<section>
    <div class="container p-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header fs-4">
                        Dodaj nowy produkt
                    </div>

                    <div th:if="${validationErrors}" class="alert alert-danger">
                        <li th:each="error : ${validationErrors}" th:text="${error}"></li>
                    </div>

                    <div th:if="${validationErrors}" class="alert alert-danger">
                        <span th:each="error : ${validationErrors}" th:text="${validationErrors}"></span>
                    </div>

                    <div class="card-body">

                        <form th:action="@{/saveProduct}" th:object="${product}" method="post" enctype="multipart/form-data">

                            <div class="mb-3 text-center">
                                <img id="previewImage" th:src="${imageUrl}" alt="Podgląd zdjęcia"
                                     style="max-height: 400px; object-fit: contain; margin-bottom: 15px; border: 1px solid #ddd; border-radius: 5px;">
                            </div>
<!--                            <img id="previewImage" src="https://demofree.sirv.com/nope-not-here.jpg" alt="Image preview" style="max-width: 300px; max-height: 300px;">-->

                            <div class="mb-3">
                                <label for="imageProduct" class="form-label">Zdjęcie produktu</label>
                                <input type="file" id="imageProduct" name="imageProduct" class="form-control" accept="image/*" onchange="previewFile()">
                                <input type="hidden" id="existingImage" name="image" th:value="${product.image}">
                                <div class="text-danger" th:if="${#fields.hasErrors('imageProduct')}" th:errors="*{imageProduct}"></div>
                            </div>

                            <div class="mb-3">
                                <label for="musicCategory" class="form-label">Kategoria</label>
                                <select id="musicCategory" name="musicCategory" class="form-control" th:field="*{musicCategory}">
                                    <option value="">-- Wybierz --</option>
                                    <option th:each="musicCategory : ${musicCategories}"
                                            th:value="${musicCategory.id}"
                                            th:text="${musicCategory.name}">
                                    </option>
                                </select>
                                <div class="text-danger" th:if="${#fields.hasErrors('musicCategory')}" th:errors="*{musicCategory}"></div>
                            </div>


                            <div class="mb-3">
                                <label for="artist" class="form-label">Artysta</label>
                                <select id="artist" name="artist" class="form-control" th:field="*{artist}">
                                    <option value="">-- Wybierz --</option>
                                    <option th:each="artist : ${artists}"
                                            th:value="${artist.id}"
                                            th:text="${artist.name}">
                                    </option>
                                </select>
                                <div class="text-danger" th:if="${#fields.hasErrors('artist')}" th:errors="*{artist}"></div>
                            </div>


                            <div class="mb-3">
                                <label for="title" class="form-label">Tytuł</label>
                                <input th:field="*{title}" type="text" id="title" name="title" class="form-control">
                                <div class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
                            </div>

                            <div class="mb-3">
                                <label for="mediaType" class="form-label">Rodzaj nośnika</label>
                                <select id="mediaType" name="mediaType" class="form-control" th:field="*{mediaType}">
                                    <option value="">-- Wybierz --</option>
                                    <option th:each="type : ${mediaTypes}"
                                            th:value="${type}"
                                            th:text="${type}">
                                    </option>
                                </select>
                                <div class="text-danger" th:if="${#fields.hasErrors('mediaType')}" th:errors="*{mediaType}"></div>
                            </div>

                            <div class="mb-3">
                                <label for="releaseDate" class="form-label">Data wydania</label>
                                <input th:field="*{releaseDate}" type="date" id="releaseDate" name="releaseDate" class="form-control">
                                <div class="text-danger" th:if="${#fields.hasErrors('releaseDate')}" th:errors="*{releaseDate}"></div>
                            </div>

                            <div class="mb-3">
                                <label for="description" class="form-label">Opis</label>
                                <textarea th:field="*{description}" id="description" name="description" class="form-control"></textarea>
                                <div class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
                            </div>

                            <div class="mb-3">
                                <label for="price" class="form-label">Cena</label>
                                <input th:field="*{price}" type="number" step="0.01" id="price" name="price" class="form-control">
                                <div class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
                            </div>

                            <div class="mb-3">
                                <label for="stockQuantity" class="form-label">Stan magazynowy</label>
                                <input th:field="*{stockQuantity}" type="number" id="stockQuantity" name="stockQuantity" class="form-control">
                                <div class="text-danger" th:if="${#fields.hasErrors('stockQuantity')}" th:errors="*{stockQuantity}"></div>
                            </div>

                            <button type="submit" class="btn btn-primary">Add Product</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // function previewFile() {
        //     const fileInput = document.getElementById('imageProduct');
        //     const previewImage = document.getElementById('previewImage');
        //     const file = fileInput.files[0];
        //
        //     if (file) {
        //         const reader = new FileReader();
        //         reader.onload = function (e) {
        //             previewImage.src = e.target.result; // Ustaw nowy podgląd
        //         };
        //         reader.readAsDataURL(file);
        //     }
        // }

        function previewFile() {
            const fileInput = document.getElementById('imageProduct');
            const previewImage = document.getElementById('previewImage');
            const file = fileInput.files[0];

            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    previewImage.src = e.target.result; // Ustaw podgląd wybranego obrazu
                };
                reader.readAsDataURL(file);
            }
        }
    </script>
</section>
</body>
</html>