<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Edytuj Produkt</title>
</head>
<body>
<section>
    <div class="container p-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header fs-4">
                        Edytuj dane produktu
                    </div>

                    <div class="card-body">
                        <form th:action="@{/products/edit}" method="post" th:object="${product}" enctype="multipart/form-data">

                            <!-- Pole ID produktu -->
                            <input type="hidden" id="productId" th:field="*{id}" th:value="${product.id}" />

                            <div class="mb-3 text-center">
                                <img id="previewImage" th:src="${imageUrl}" alt="Podgląd zdjęcia"
                                     style="max-height: 400px; object-fit: contain; margin-bottom: 15px; border: 1px solid #ddd; border-radius: 5px;">
                            </div>

                            <div class="mb-3">
                                <label for="imageProduct" class="form-label">Dodaj/Zmień zdjęcie</label>
                                <input type="file" id="imageProduct" name="imageProduct" class="form-control" accept="image/*" onchange="previewFile()">
                                <div th:if="${#fields.hasErrors('imageProduct')}" th:errors="*{imageProduct}" class="text-danger"></div>
                            </div>


                            <div class="mb-3">
                                <label for="musicCategory" class="form-label">Kategoria Muzyczna</label>
                                <select id="musicCategory" name="musicCategory" class="form-control" th:field="*{musicCategory}">
                                    <option value="">-- Wybierz --</option>
                                    <option th:each="category : ${musicCategories}"
                                            th:value="${category.id}"
                                            th:text="${category.name}">
                                    </option>
                                </select>
                                <div class="text-danger" th:if="${#fields.hasErrors('musicCategory')}" th:errors="*{musicCategory}"></div>
                            </div>

                            <div class="mb-3">
                                <label for="artist" class="form-label">Artysta</label>
                                <select id="artist" name="artist" class="form-control" th:field="*{artist}">
                                    <option value="">-- Wybierz --</option>
                                    <option th:each="artist : ${artists}"
                                            th:value="${artist.id}"
                                            th:text="${artist.name}">
                                    </option>
                                </select>
                                <div class="text-danger" th:if="${#fields.hasErrors('artist')}" th:errors="*{artist}"></div>
                            </div>

                            <!-- Pole Tytuł -->
                            <div class="mb-3">
                                <label for="title" class="form-label">Tytuł</label>
                                <input th:field="*{title}" type="text" id="title" class="form-control">
                                <div class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
                            </div>

                            <div class="mb-3">
                                <label for="mediaType" class="form-label">Rodzaj nośnika</label>
                                <select id="mediaType" name="mediaType" class="form-control" th:field="*{mediaType}">
                                    <option value="">-- Wybierz --</option>
                                    <option th:each="type : ${mediaTypes}"
                                            th:value="${type}"
                                            th:text="${type}">
                                    </option>
                                </select>
                                <div class="text-danger" th:if="${#fields.hasErrors('mediaType')}" th:errors="*{mediaType}"></div>
                            </div>

                            <div class="mb-3">
                                <label for="releaseDate" class="form-label">Data wydania</label>
                                <input type="date" id="releaseDate" th:field="*{releaseDate}" class="form-control">
                                <div th:if="${#fields.hasErrors('releaseDate')}" th:errors="*{releaseDate}" class="text-danger"></div>
                            </div>

                            <!-- Pole Opis -->
                            <div class="mb-3">
                                <label for="description" class="form-label">Opis</label>
                                <textarea th:field="*{description}" id="description" class="form-control"></textarea>
                                <div class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
                            </div>

                            <!-- Pole Cena -->
                            <div class="mb-3">
                                <label for="price" class="form-label">Cena</label>
                                <input th:field="*{price}" type="number" id="price" step="0.01" class="form-control">
                                <div class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
                            </div>

                            <!-- Pole Ilość na stanie -->
                            <div class="mb-3">
                                <label for="stockQuantity" class="form-label">Ilość na stanie</label>
                                <input th:field="*{stockQuantity}" type="number" id="stockQuantity" class="form-control">
                                <div class="text-danger" th:if="${#fields.hasErrors('stockQuantity')}" th:errors="*{stockQuantity}"></div>
                            </div>

                            <!-- Przyciski -->
                            <button type="submit" class="btn btn-primary">Zaktualizuj</button>
                            <a href="#" th:href="@{/products/products}" class="btn btn-secondary">Anuluj</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function previewFile() {
            const fileInput = document.getElementById('imageProduct');
            const previewImage = document.getElementById('previewImage');
            const file = fileInput.files[0];

            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    previewImage.src = e.target.result; // Ustaw nowy podgląd
                };
                reader.readAsDataURL(file);
            }
        }
    </script>
</section>
</body>
</html>