<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<section>
    <div class="container p-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card shadow">
                    <div class="card-header bg-primary text-white text-center fs-4 fw-bold">
                        <strong>Lista Kategorii Muzycznych</strong>
                    </div>
                        <div class="card-body p-4">

                            <div th:if="${success}" class="alert alert-success alert-dismissible fade show" role="alert">
                                <i class="bi bi-check-circle-fill me-2"></i>
                                <span th:text="${success}"></span>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            <div th:if="${failed}" class="alert alert-danger alert-dismissible fade show" role="alert">
                                <i class="bi bi-exclamation-triangle-fill me-2"></i>
                                <span th:text="${failed}"></span>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            <div th:if="${size == 0}" class="alert alert-warning text-center" role="alert">
                                <i class="bi bi-exclamation-circle me-2"></i> Brak kategorii do wyświetlenia.
                            </div>
                            <div th:if="${validationErrors}" class="alert alert-danger alert-dismissible fade show" role="alert">
                                <ul>
                                    <li th:each="error : ${validationErrors}" th:text="${error}"></li>
                                </ul>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>

                            <div class="d-flex justify-content-end mb-3">
                                <button type="button" class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#addMusicCategoryModal">
                                    <i class="bi bi-plus-circle-fill me-2"></i>Dodaj Kategorię
                                </button>
                            </div>


                            <div class="modal fade" id="addMusicCategoryModal" tabindex="-1" aria-labelledby="addMusicCategoryLabel" aria-hidden="true">
                                <form th:action="@{/products/saveMusicCategory}" method="post" th:object="${musicCategoryNew}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="addMusicCategoryLabel">Nowa Kategoria Muzyczna</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="mb-3">
                                                    <label for="recipient-name" class="form-label">Nazwa:</label>
                                                    <input type="text" class="form-control" th:field="*{name}" id="recipient-name">
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                                                <button type="submit" class="btn btn-primary">Zapisz</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>


                            <div class="modal fade" id="editMusicCategoryModal" tabindex="-1" aria-labelledby="editModalExample" aria-hidden="true">
                                <form th:action="@{/products/updateMusicCategory}" method="post" th:object="${musicCategoryEdit}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Edycja Kategorii Muzycznej</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <input type="hidden" th:field="*{id}" id="idEdit" />
                                                <div class="mb-3">
                                                    <label for="nameEdit" class="form-label">Nazwa:</label>
                                                    <input type="text" th:field="*{name}" class="form-control" id="nameEdit" th:value="${musicCategoryEdit.name}" />
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                                                <button type="submit" class="btn btn-primary">Zapisz</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <table class="table table-striped" th:if = "${size > 0}">
                                <thead class="table-primary">
                                <tr>
                                    <th>ID</th>
                                    <th>Nazwa</th>
                                    <th style="width: 200px; white-space: nowrap;">Akcje</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="musicCategory:${musicCategories}">
                                    <td th:text="${musicCategory.id}"></td>
                                    <td th:text="${musicCategory.name}"></td>
                                    <td>

                                        <div class="d-flex gap-2 flex-wrap">
                                            <a class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editMusicCategoryModal"
                                               th:attr="data-id=${musicCategory.id}, data-name=${musicCategory.name}">
                                                <i class="bi bi-pencil-fill me-1"></i> Edytuj
                                            </a>
                                            <button class="btn btn-danger btn-sm delete-btn" th:attr="data-id=${musicCategory.id}, data-name=${musicCategory.name}">
                                                <i class="bi bi-trash-fill me-1"></i> Usuń
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const editModal = document.getElementById('editMusicCategoryModal');

            // Nasłuchujemy otwierania modalu edycji
            editModal.addEventListener('show.bs.modal', function (event) {
                const button = event.relatedTarget; // Przycisk, który otworzył modal
                const categoryId = button.getAttribute('data-id'); // Pobierz ID kategorii
                const categoryName = button.getAttribute('data-name'); // Pobierz nazwę kategorii

                // Wypełnij pola w modalu
                document.getElementById('idEdit').value = categoryId;
                document.getElementById('nameEdit').value = categoryName;
            });
        });

        document.addEventListener("DOMContentLoaded", function () {
            const addMusicCategoryForm = document.querySelector("#addMusicCategoryModal form");
            addMusicCategoryForm.addEventListener("submit", function (event) {
                event.preventDefault();

                Swal.fire({
                    title: "Czy na pewno chcesz dodać nową kategorię muzyczną?",
                    text: "Dane kategorii muzycznej zostaną zapisane w systemie!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Tak, dodaj!",
                    cancelButtonText: "Anuluj",
                }).then((result) => {
                    if (result.isConfirmed) {
                        addMusicCategoryForm.submit();
                    }
                });
            });
        });

        document.addEventListener("DOMContentLoaded", function () {
            const editForm = document.querySelector("#editMusicCategoryModal form");

            editForm.addEventListener("submit", function (event) {
                event.preventDefault();

                Swal.fire({
                    title: "Czy na pewno chcesz zapisać zmiany?",
                    text: "Zmiany w danych kategorii muzycznej zostaną zapisane!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Tak, zapisz!",
                    cancelButtonText: "Anuluj",
                }).then((result) => {
                    if (result.isConfirmed) {
                        editForm.submit();
                    }
                });
            });
        });

        document.addEventListener("DOMContentLoaded", function () {
            const deleteButtons = document.querySelectorAll(".delete-btn");

            deleteButtons.forEach(button => {
                button.addEventListener("click", function () {
                    const musicCategoryId = button.getAttribute("data-id");
                    const musicCategoryName = button.getAttribute("data-name");

                    // Wywołanie SweetAlert dla potwierdzenia
                    Swal.fire({
                        title: `Czy na pewno chcesz usunąć kategorię muzyczną: ${musicCategoryName}?`,
                        text: "Tej operacji nie można cofnąć!",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#3085d6",
                        cancelButtonColor: "#d33",
                        confirmButtonText: "Tak, usuń!",
                        cancelButtonText: "Anuluj"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            fetch(`/delete-musicCategory?id=${musicCategoryId}`, {method: "DELETE"})
                                .then(response => response.text().then(message => ({status: response.status, message})))
                                .then(({status, message}) => {
                                    if (status === 200) {
                                        Swal.fire(
                                            "Usunięto!",
                                            message,
                                            "success"
                                        ).then(() => {
                                            window.location.reload();
                                        });
                                    } else if (status === 409) {
                                        Swal.fire(
                                            "Nie można usunąć!",
                                            message,
                                            "error"
                                        );
                                    } else {
                                        Swal.fire(
                                            "Błąd!",
                                            "Wystąpił nieoczekiwany problem: " + message,
                                            "error"
                                        );
                                    }
                                })
                                .catch(() => {
                                    Swal.fire(
                                        "Błąd!",
                                        "Wystąpił problem z połączeniem z serwerem.",
                                        "error"
                                    );
                                });

                        }
                    });
                });
            });
        });
    </script>

</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</html>